---
- name: Configure VPNv4 iBGP Peerings
  hosts: R1, R5
  gather_facts: no
  vars_files:
    - "../secrets.yml"

  vars:
    ansible_user: "{{ ssh_username }}"
    ansible_ssh_pass: "{{ ssh_password }}"

  tasks:
    - name: Establish VPNv4 iBGP between R1 and R5
      cisco.ios.ios_config:
        parents: "router bgp 65000"
        lines:
          - "neighbor {{ peer_ip }} remote-as 65000"
          - "neighbor {{ peer_ip }} update-source Loopback0"
          - "address-family vpnv4"
          - "  neighbor {{ peer_ip }} activate"
          - "  neighbor {{ peer_ip }} send-community both"
          - "exit-address-family"
      vars:
        # If I am R1, peer with R5 (5.5.5.5). If I am R5, peer with R1 (1.1.1.1).
        peer_ip: "{{ '5.5.5.5' if inventory_hostname == 'R1' else '1.1.1.1' }}"
      notify: Save Configuration

  handlers:
    - name: Save Configuration
      cisco.ios.ios_command:
        commands:
          - command: "copy running-config startup-config"
            prompt: 'Destination filename \[startup-config\]\?'
            answer: "\r"
